
body{
	background-color: pink;

}

.main{
	padding-top: 40px;
}
.container{
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
}

.saltguy{
	width: 50%;
}


.card-text{
	font-style: italic;
	font-size: 12pt;
	color: black;
}

.mynavbar{
	background-color: #B35982;
	margin:0;
	font-size: 20pt;
}

.mynavbar a {
	color: white;
	font-size: 2rem;
	padding-top: .25rem;
	padding-bottom: .25rem;
	line-height: inherit;
/*	margin-right: .25rem;
	margin-left: .25rem;*/
	display: inline-block;
}

.navbar-nav .nav-link {
	padding-left:0;
	padding-right:0;
	display: inline-block;

}

.mynavbar .mynavlink{
	padding-top: 0;
	padding-bottom: 0;


}

.clearmargin {
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.navbar-default .navbar-nav a {
	padding-top: 0!important;
	padding-bottom: 0!important;
}

.navbar-brand {
	height:0;
}

.mynavlink:hover {
	color: gray;
}

.card-title {
  color: #e16879;
  font-weight: 400;
}

.main-title {
  color: white;
  font-weight: 400;
  font-size: 50pt;
}

.card {
	margin-bottom: 10px;
}

.welcome{
	border-style: solid;
	border-color: white;
	border-top: 20px;
	border-width: 10px;
	background-image: url(../img/steak.jpg);
	background-size: cover;
	padding-top:60px;
	top: 15px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.topCard {
	padding-top: 15px;
}

.jumbotron {
	padding-top: 25%;
	padding-bottom: 25%;
	background-color: white;
	background-image: url("../img/index_pic.jpg");
 	background-size: cover;
 	color: white;	
}

.btn {
	margin-top: 50px;
	font-weight: 300;
}

.btn-primary {
  background: #e16879;
  border-color: #e16879;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #e05164;
  border-color: #e05164;
}

.navbar {
	position: fixed;
    width: 100%;
    Z-INDEX: 2;
    border-color: transparent;
}

/*a.nav-link.mynavlink:hover {
	color: white;
}*/



a.nav-link.mynavlink{
	color:Gainsboro;
	background-color: transparent;
}

a.nav-link.mynavlink.active{
	color: white;
	background-color: transparent;
}

a.nav-link.mynavlink:hover {
  color: white;
  background-color: transparent;
}


/*.blue{	
	background-color: blue;
}

.red{
	background-color: red;
}

.yellow{
	background-color: yellow;
}*/