
body{
	background-color: pink;

}

.container{
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
}

.saltguy{
	width: 50%;
}


.card-text{
	font-style: italic;
	font-size: 12pt;
	color: black;
}

.mynavbar{
	background-color: #B35982;
	color: white;
}

.card-title {
  color: #e16879;
  font-weight: 400;
  font-size 50pt;
}

.main-title {
  color: white;
  font-weight: 400;
  font-size 50pt;
}

.card {
	margin-bottom: 10px;
}
.welcome{
	border-style: solid;
	border-color: white;
	border-width: 10px;
	background-image: url(../img/steak.jpg);
	background-size: cover;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.topCard {
	padding-top: 15px;
}
/*.blue{	
	background-color: blue;
}

.red{
	background-color: red;
}

.yellow{
	background-color: yellow;
}*/